.rcw-conversation-container > .rcw-header {
  background-color: #3875cb;
}

.rcw-client > .rcw-message-text {
  color: white;
  background-color: #3875cb;
}

.rcw-launcher {
  background-color: #3875cb;
}
